apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    day: "3"
    app: nginx-deployment
  name: nginx-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-deployment
  strategy: {}
  template:
     metadata:
       labels:
         app: nginx-deployment
     spec:
       containers:
       - image: nginx
         name: nginx
         resources:
           limits:
             cpu: 0.7
             memory: 256Mi
           requests:
             cpu: 0.3
             memory: 64Mi

