apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: nginx-deployment-cli
  name: nginx-deployment-cli
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-deployment-cli
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nginx-deployment-cli
    spec:
      containers:
      - image: nginx
        name: nginx
        resources: {}
status: {}
